# flyctl launch added from .gitignore
**/.env
**/secret.txt
**/__pycache__
**/venv
**/secret.txt
**/test_token.py
**/id_finder_py
**/.aider*

# flyctl launch added from .venv/.gitignore
# Created by venv; see https://docs.python.org/3/library/venv.html
.venv/**/*
fly.toml
